[submodule "adair-flutter-lib"]
	path = adair-flutter-lib
	url = ./adair-flutter-lib
[submodule "activity-log"]
	path = activity-log
	url = ./activity-log
[submodule "anglers-log"]
	path = anglers-log
	url = ./anglers-log
[submodule "adair-flutter-lib-tester"]
	path = adair-flutter-lib-tester
	url = git@github.com:cohenadair/adair-flutter-lib-tester.git
